<h1>Change</h1>
<div class="my-post">
<h1 class="my-h1">О НАС</h1>
<div class="rounded float-right my-img"><%= image_tag src="coffee.jpg" %></div> 
<h3>ЛУЧШИЕ ИСТОРИИ РАССКАЗЫВАЮТ ЗА ЧАШЕЧКОЙ КОФЕ</h3>
<p class="par">Вы когда-нибудь задумывались, скольких людей объединяет такая простая вещь, как кофе?<br> 
Фермеров из далеких и солнечных стран, моряков и капитанов судов, доставляющих зерна, профессиональных обжарщиков,<br>
бариста в местной кофейне…
И многих и многих горожан, любящих этот замечательный напиток!</p>
<p class="par">Возможно вы давно хотели больше узнать о кофе, его истории и разных способов его приготовления?<br>
Или ваши друзья не могут слушать ваши истории о кофе днями напролет?<br>
Поверьте, нам знакома эта история! И именно для этого создан наш сервис.<br>
Здесь вы можете поговорить о любимом кофейном напитке или узнать в какую кофейню сегодня пойти в любое время суток.<br>
</p>
<p class="par">Для того чтобы стать участником нашего кофейного клуба нужно лишь зарегистрироваться!<br>
Скорее кликай на РЕГИСТРАЦИЯ в верхней панели и стань истинным кофеманом!
</p>
<p class="par">
И мы стремимся делать все возможное для поддержания связи с вами – мы прислушивается и старается отвечать каждому из вас,<br>
взаимодействуем с гостями для выполнения своих обязательств.<br>
Если у вас есть вопросы к нам, пишите нам в удобной для вас социальной сети, а так же подписывайтесь на нас!<br>
В наших соц. сетях мы стараемся выкладывать для вас интересные посты о кофе!
</p>
<p class="par min-par">* Ваш кофе — настоящий путешественник. Обычно, необжаренные кофейные зёрна доставляются морем от стран-производителей<br>
до европейских глубоководных портов в Роттердаме, Гамбурге, Таллине, Риге, Санкт-Петербурге, Триесте и Барселоне.<br> 
Затем, кофе везут фурами до городов России и обжарщиков.<br>
</p>
<p class="par min-par">
Цитаты великих людей о кофе:
</p>
<ul class="par min-par min-list">
<li>Кофе – это творческая зажигалка. (Маргарет Тэтчер)</li>
<li>Кофе — золото простого человека; и также как золото, кофе приобщает его к роскоши и благородству. (Шейк-Абд-аль-Кадир)</li>
<li>Кофе — лучшая когда-либо созданная органическая смесь. (Ника Коваль)</li>
<li>Кофе — любимый напиток цивилизованного мира. (Томас Джефферсон)</li>
<li>Кофе — напиток очень личный. Его, как и коньяк, нельзя пить кружками! (Уинстон Черчилль)</li>
<li>Кофе — это врата восприятия ночного пейзажа. (Макс Фрай)</li>
<li>Кофе — это варенье из джазовых пластинок. (Макс Фрай)</li>
<li>Кофе — союзник, с которым писательский труд перестает быть мукой. (Оноре де Бальзак)</li>
</ul>
<h3>Добро пожаловать в COFFEECLUB!</h3>
</div>
