<h1>Change</h1>
<div class="my-post">
<h1 class="my-h1">ИСТОРИЯ КОФЕ</h1>
<h3>РОДИНА НАПИТКА</h3>
<p class="par">Родиной кофейного дерева принято считать Эфиопию. Несколько эфиопских легенд открывают тайну происхождения напитка.<br>
По одной из них кофе открыл йеменский шейх Абд-аль-Кадир. Ему принадлежит цитата: «Никто не может понять истины, пока не вкусит кофейного пенного блаженства».<br>
Другие источники говорят, что право первооткрывателя принадлежит простому пастуху Калдиму. <br>
Он заметил странное поведение коз: поев листьев дикорастущего кофейного дерева, животные возбужденно бегали. Настоятель местного монастыря, услышав от Калдима эту историю, <br>
сам попробовал листья и оценил их тонизирующее действие. Так родился напиток из листьев и зерен, который стал традиционным для обитателей монастыря и всех местных жителей.</p>
<p class="par">Мировая известность и распространение кофейных бобов начались в Йемене, куда их завезли арабские торговцы. В 15 веке деревья научились культивировать,<br>
урожай продавали в страны Ближнего и Среднего Востока. Почти 200 лет Йемен был единственным поставщиком зерна на внешний рынок и строго охранял свою монополию. <br>
Затем кофейные плантации появились в Азии и других странах.</p>
<h3>КОФЕ ИЗ АМСТЕРДАМА И ПАРИЖА</h3>
<p class="par">В Европе и Северной Америке кофе появился в 17 веке. Растущая популярность напитка заставила европейцев искать новые территории для плантаций.<br>
О распространении плантаций кофе известны следующие факты. <br>
Голландцы одними из первых получили зерна и смогли вырастить из них саженцы. Несмотря на строгий запрет арабских государств на вывоз зеленых зерен, <br>
голландский купец Петер ван дер Броке сумел получить несколько образцов и доставить их на родину. В ботаническом саду Амстердама шведский ученый Карл Линней вырастил сорт "Кофе Арабика",<br> 
и через короткое время голландская плантация появилась в колонии на Цейлоне.<br>
Французскому королю Людовику XIV кофейные зерна достались в подарок от султана Йемена. Первое дерево было посажено в Париже в 1714 году. Затем саженцы были вывезены в колонии, <br>
на кофейные плантации Карибских островов и Южной Америки.</p>
<h3>ИНТЕРЕСНЫЕ ФАКТЫ О КОФЕЙНЫХ ДЕРЕВЬЯХ</h3>
<p class="par">Сегодня в мире насчитывается более 50 видов кофе, но все они происходят от двух сортов: эфиопской Арабики и африканской Робусты. Остальные сорта являются результатами селекции.<br>
Кофейные деревья в высоту могут достигать 10 метров. Для удобства сбора урожая кроны деревьев формируют не более 3 метров.<br>
Срок жизни дерева составляет до 70 лет.<br>
Одно дерево в год дает менее килограмма кофейных бобов.<br>
Очень восприимчивое к погодным условиям и климату, кофейное дерево может произрастать только в узкой географической зоне.<br>
Природные плантации составляют не более 20% от общей площади, все остальное создано руками человека.</p>
<h3>ТРАДИЦИИ РАЗНЫХ СТРАН</h3>
<ul class="par">
<li><b>Эфиопия.</b> Ритуал приготовления кофе проводит сам хозяин дома. Напиток подается сначала самому старшему из присутствующих, в знак уважения. <br>
Отказ гостя от кофе воспринимается как смертельное оскорбление.</li>
<li><b>Эквадор.</b> Здесь варят очень густой крепкий кофе с сахаром и помещают эту смесь в холодильник. При желании выпить чашечку напитка, нагревается вода,<br>
в кипяток добавляется холодная смесь, по индивидуальному вкусу.</li>
<li><b>Вьетнам.</b> Ледяной кофе из робусты здесь очень популярен. Крепкий напиток охлаждают и пьют маленькими порциями.</li>
</ul>
</div>
